.container{
  display: block;
  text-align: center;
  margin: auto;
}
#roll {
  margin-top: 10px;
  height: 75px;
  width: 100px;
  background-color: inherit;
  font-family: "indie flower", cursive;
  font-size: 2rem;
}
.dicee{
margin: auto;
text-align: center;
display: inline-block;
}
button {
  border-radius: 15px;
}
body{
background-color: #393E46;
}
h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}
img{
  width: 100%;
}
p{
  font-size: 2rem;
  text-align: center;
  color: #4ECCA3;
  font-family: 'indie flower', cursive;
}
footer{
  text-align: center;
  font-family: 'indie flower', cursive;
}
